<a href="https://colab.research.google.com/github/nikiconst/nikiconst.github.io/blob/main/week3class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

arrays, vectors, lists
cell navigation : 'Ctrl+ Enter' runs the cell
Alt + Enter : runs and adds a new one below, Shift+Enter: runs and steps into the next cell

In [ ]:
a = [2,3,4,'fdfd',[5,6]]
a

[2, 3, 4, 'fdfd', [5, 6]]

In [ ]:
a[4][1]

6

Dictionary, Object, Hash tabel

In [ ]:
b={'alfa':1,
   'beta':27,
   'gamma':[0,1,2],
   'delta':'67,3',
   'ninety-eight':{
       'a':5,
       'b':7}
   }

In [ ]:
b['ninety-eight']['a']

5

In [ ]:
b.keys(), b.values()

(dict_keys(['alfa', 'beta', 'gamma', 'delta', 'ninety-eight']),
 dict_values([1, 27, [0, 1, 2], '67,3', {'a': 5, 'b': 7}]))

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('daily_yields.csv')

In [ ]:
df.head(4)

     Maturity     Yield
0  2022-07-09  2.154360
1  2022-07-10  2.173819
2  2022-07-11  2.193279
3  2022-07-12  2.212738

In [ ]:
exported_values = list( df.T.to_dict().values() )

In [ ]:
import json

In [ ]:
open('my_first_json_file.json',
     'w').write(json.dumps(exported_values))
#opened the 'my first json file' for writing 
#the output number indicates the size file

676298

: